/* HEADER SEARCH  */
.header-top {
	position: fixed;
	height: 80px;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
}
.header-top.hide {
	top: -80px;
}
nav.main-navigation {
    margin-top: 80px;
}



nav.main-navigation .field__input {
    height: 20px;
    max-width: 260px !important;
    width: 260px !important;
    border: 1px solid #11111126;
    background-color: #F4F4F5;
    border-radius: 8px;
}
nav.main-navigation .field__input:focus, nav.main-navigation .field__input:focus-visible {
    box-shadow: none;
    padding-left: 30px;
}
nav.main-navigation label.field__label {
    top: 4px;
    padding-left: 10px;
}
nav.main-navigation label.field__label::before {
    content: "";
    background-image: url(/cdn/shop/files/MagnifyingGlass.png?v=1718768008);
    height: 20px;
    width: 20px;
    background-size: contain;
    position: absolute;
    left: -14px;
    top: 3px;
}
nav.main-navigation .field::before, nav.main-navigation .field::after {
    border: 0px !important; 
    box-shadow: none !important;
}





.fixed-book-appointment{
    background-color: #1c1c1c;
    width: 300px;
    box-shadow: 0 11px 11.4px #ffffff40;
    border-radius: 200px;
    color: #fff !important;
    opacity: 1;
    font-family: oregon-ldo-medium;
    display: none;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 90px;
    z-index: 2;
    margin: 0 auto;
    text-decoration: none;
}

.c-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
/*header fixed desktop view*/
.header-top {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #f2f2f2;
  padding: 10px 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.icons-grid {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 32px;
}
ul.icons-grid a {
    font-size: 14px;
    text-decoration: none;
    font-family: 'oregon-ldo-medium';
    line-height: 14.97px;
    text-transform: uppercase;
    color: #1C1C1C;
    letter-spacing: normal;
}
ul.icons-grid img {
    display: block;
    margin: 0 auto;
    max-width: 18px;
}
ul.icons-grid li:last-child img {
    max-width: 16px;
}
.header-top .logo img {
    max-width: 150px;
}
.bk-ap a {
    font-size: 16px;
    text-decoration: none;
    font-family: oregon-ldo-medium;
    letter-spacing: normal;
    line-height: 28px;
    color: #fff;
    background-color: #1c1c1c;
    border-radius: 35px;
    padding: 8px 20px 8px 20px;
}
/* .c-header nav {
    display: flex;
    justify-content: center;
    align-items: center;
} */
nav.main-navigation ul.menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 16px 0;
    gap: 10px;
}
nav.main-navigation ul.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  font-family: oregon-ldo-medium;
  letter-spacing: normal;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
  color: #1C1C1C;
  text-decoration: none;
}

.menu:hover a {
  /* opacity: 0.4; */
}

nav.main-navigation ul.menu a:hover {
  opacity: 1;
  color: #1C1C1C;
  text-decoration: underline;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

.map-mob{
    display: none;
}
ul.fbn-gridd {
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin: 0;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    left: 0;
    right: 0;
    border-radius: 16px 16px 0px 0px;
}
ul.fbn-gridd img {
    max-height: 22px;
    margin: 0 auto;
    display: block;
}
ul.fbn-gridd a{
    text-decoration: none;
    color: #a1a1aa;
}
ul.fbn-gridd .curr-ac{
    color: #BE877B;
}
.fixed-bottom-nav{
  display: none;
}
.only-for-mob-search, img.map-mob{
    display: none !important;
}



@media only screen and (max-width: 950px) {
    main#MainContent {
        padding-top: 30px;
    }
  .only-for-mob-search {
      display: block !important;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #fff;
  }
  .only-for-mob-search .EzfyHeaderSearch.EzfyHeaderSearch--mobile {
      margin-top: 10px;
  }
  .only-for-mob-search .field__input:focus, .only-for-mob-search .field__input:focus-visible{
      box-shadow: none;
    padding-left: 30px;
  }
  .only-for-mob-search .search__input.field__input{
      height: 20px;
      max-width: 100% !important;
      width: 100% !important;
      border: 1px solid #11111126;
      background-color: #f4f4f5;
      border-radius: 8px;
  }
  .only-for-mob-search  label.field__label {
        top: 4px;
    }
  .only-for-mob-search .field:before, .only-for-mob-search .field:after {
        border: 0px !important;
        box-shadow: none !important;
    }
  .header-top {
      position: static;
      height: auto;
  }
  nav.main-navigation {
      margin-top: 0;
  }
  wishlist-link-floating {
      position: absolute;
      top: 12px;
      right: 20px;
  }
  a.wk-button {
      background: transparent !important;
      border: 0px !important;
      box-shadow: none !important;
      color: #000 !important;
  }
  wk-icon.wk-icon {
      color: #000;
      --stroke: #000 !important;
      --stroke-width: #000 !important;
  }
  .wk-icon svg {
      max-width: 20px;
  }
  img.map-mob {
        display: block !important;
        width: 100%;
        max-width: 23px !important;
        margin-top: -8px !important;
    }
  .fixed-bottom-nav{
      display: block;
  }
  ul.icons-grid li {
      display: none;
  }
  ul.icons-grid li:nth-child(3), ul.icons-grid li:nth-child(4) {
      display: block;
  }
  ul.icons-grid li:nth-child(4) img {
      max-width: 22px;
      position: relative;
      top: -3px;
  }
  nav.main-navigation ul.menu a{
      color: #fff;
  }
  .header-top {
      padding: 9px 70px 5px 70px;
  }
  .header-top .logo img {
      max-width: 130px;
  }
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
      display: block;
      color: #1C1C1C;
      font-size: 28px;
      cursor: pointer;
      position: absolute;
      top: 4px;
      left: 20px;
  }
  .bk-ap {
      display: none;
  }
   ul.icons-grid a span {
      display: none;
  }
  .map-des{
     display: none !important;   
  }
  .map-mob{
      display: block;
  }
  ul.fbn-gridd li:last-child img {
      max-width: 23px;
  }
  .cl-pu__grid p {
      font-size: 10px;
  }
}
